/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 25px;
    /*background-image: url('trail1.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;

}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video behind other content */
    overflow: hidden;
}

.backvid {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}

@media (min-aspect-ratio: 16/9){
    .backvid{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .backvid{
        width: auto;
        height: 200%;
    }
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

label {
    display: inline-block;
    margin-bottom: 10px;
    background-color:rgb(28, 14, 226);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] 
{
    width: 50%;
    padding: 8px;
    background-color:#fc0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    display: block;
  margin: 0 auto;
}



input[type="submit"]:hover 
{
    background-color: #b82121;
}

